

---
import Layout from '../layouts/Layout.astro';
import Countdown from "../components/Countdown.svelte";
import Navbar from "../components/Navbar.astro";
import Navbarbottom from "../components/Navbar.svelte";

import Tracks from "../components/Tracks.astro";
import Why from "../components/Why.astro";
import Whyget from "../components/Whyget.astro";


import { categories } from "../components/categories.js";


---

<Layout  title="LEAP | KERALA STARTUP MISSION">


    <div class="boxed_wrapper ltr">
        <Navbarbottom client:load></Navbarbottom>
        <!-- main-content -->
        <main class="main-content alternat-2">
            <!-- banner-style-five -->
            <section class="banner-style-five p_relative">
                <div class="pattern-layer">
                    <div class="pattern-1" style="background-image: url(/assets/images/shape/shape-34.png);"></div>
                    <div class="pattern-2" style="background-image: url(/assets/images/shape/shape-40.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <!-- <span class="sub-title mb_20">RINK</span> -->
                                <h2 class="">VIROLOGY <span>INNOVATION COHORT</span></h2>
                                <p>
                                    This cohort aims to support the translation of potential ideas into deployable market-fit solutions across diagnostics, therapeutics, vaccine development, surveillance, digital solutions, etc  in the virology sector and associated areas.
                                </p>
                                <a href="https://ksum.in/virology_innovation" target="_blank" class="theme-btn btn-one">Apply Now<span></span><span></span><span></span><span></span></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="image-box">
                                <div class="image-shape">
                                    <div class="shape-1 rotate-me" style="background-image: url(/assets/images/shape/shape-41.png);"></div>
                                    <div class="shape-2 zoom-fade" style="background-image: url(/assets/images/shape/shape-42.png);"></div>
                                    <div class="shape-3 zoom-fade" style="background-image: url(/assets/images/shape/shape-43.png);"></div>
                                </div>
                                <!-- <figure class="image float-bob-y"><img src="/assets/images/banner/banner-img-3.png" alt=""></figure> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner-style-five end -->


          


            <!-- about-style-four -->
            <section class="about-style-four pt_90 pb_120" id="about">
                <div class="pattern-layer">
                    <div class="pattern-1 zoom-fade" style="background-image: url(/assets/images/shape/shape-46.png);"></div>
                    <div class="pattern-2 zoom-fade" style="background-image: url(/assets/images/shape/shape-42.png);"></div>
                    <div class="pattern-3 zoom-fade" style="background-image: url(/assets/images/shape/shape-26.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="image_block_three">
                                <div class="image-box">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-image">
                                            <figure class="image image-1"><img src="/img/about-4.jpg" alt=""></figure>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-image">
                                            <figure class="image image-2 mt_55"><img src="/img/about-5.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content_block_one">
                                <div class="content-box ml_30 sec-title-animation animation-style2">
                                    <div class="sec-title mb_25">
                                        <h2 class="title-animation">Virology Innovation Cohort</h2>
                                    </div>
                                    <div class="text-box mb-10 ">
                                        <p class="text-black text-justify">
                                            The Virology Innovation Cohort is a six-month innovation program designed to foster startups and innovators building solutions in virology, emerging infections and antimicrobial resistance (AMR). The program combines scientific mentorship, product development support, sector-specific incubation facilities, and startup ecosystem exposure, while also opening opportunities to adopt validated technologies developed by the Institute of Advanced Virology (IAV) through structured technology transfer for venture creation and commercialization.
                                        </p>
                                    </div>
                                    <div class="flex gap-3 items-center  sm:flex-row flex-col text-black mb-2">
                                        <p class="font-semibold text-xl md:text-2xl text-black">Who can apply : </p>
                                        <p class="text-lg text-black">Startups | Innovators</p>
                                    </div>
                                   <div class="pb-8">
                                     Last Date to apply : 25 March 2026
                                   </div>

                                    <div class="btn-box">
                                        <a href="https://ksum.in/virology_innovation" target="_blank" class="theme-btn">Apply Now<span></span><span></span><span></span><span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-style-four end -->


           


            <!-- service-style-two -->
            <section class="service-style-two alternat-2 py-24">
                <div class="bg-layer parallax-bg" data-parallax='{"y": 100}' style="background-image: url(/img/service-bg-2.jpg);"></div>
                <div class="auto-container">
                   
                    <div class="tabs-box">
                        
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="row clearfix my-auto">
                                    <div class="col-lg-6 col-md-12 col-sm-12 content-column my-auto">
                                        <div class="content_block_two">
                                            <div class="sec-title  mb-6 sec-title-animation animation-style2">
                                                <h2 class="title-animation">Host Institution</h2>
                                            </div>
                                            <div class="content-box mr_50">
                                                <p class="text-black my-auto text-justify">
                                                    The Institute of Advanced Virology (IAV) is an institute of global standards dedicated to research, diagnosis and management of emerging and re-emerging infectious viral diseases, established by the Government of Kerala. Equipped with advanced infrastructure, high-containment biosafety laboratories (BSL-3 with progression to BSL-4), and strong international collaborations, IAV plays a critical role in translational virology, epidemic preparedness, and rapid response.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <div class="image-box ml_40">
                                            <div class="image-shape">
                                                <div class="shape-1 zoom-fade" style="background-image: url(/assets/images/shape/shape-47.png);"></div>
                                                <div class="shape-2 zoom-fade" style="background-image: url(/assets/images/shape/shape-47.png);"></div>
                                                <div class="shape-3 zoom-fade" style="background-image: url(/assets/images/shape/shape-48.png);"></div>
                                            </div>
                                            <figure class="image"><img src="/img/h8.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service-style-two end -->




             <!-- feature-style-four -->
          


             <section class="about-style-two pt_120 pb_120" id="FocusAreas">
                  <div class="pattern-layer">
                    <div class="pattern-1" style="background-image: url(assets/images/shape/shape-13.png);"></div>
                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-14.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="sec-title  centred sec-title-animation animation-style2">
                        <h2 class="title-animation mb-10">Focus Areas</h2>
                    </div>
                    <div class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-6 clearfix h-full">
                        <div class=" feature-block h-full">
                            <div class="feature-block-four h-full  wow  animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box h-full">
                                    <div class="shape" style="background-image: url(/assets/images/shape/shape-44.png);"></div>
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-4"></i></div>
                                    </div>
                                    <h3>
                                       Diagnostic Technologies & Testing Platforms:
                                    </h3>
                                    <p>
Solutions for pathogen detection, point-of-care and rapid testing, scalable and deployment-ready testing systems, including solutions designed for low-resource and remote settings.
                                    </p>
                                </div>
                            </div>
                        </div>
                       
                        <div class=" feature-block h-full">
                            <div class="feature-block-four h-full  wow  animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box h-full">
                                    <div class="shape" style="background-image: url(/assets/images/shape/shape-44.png);"></div>
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-9"></i></div>
                                    </div>
                                    <h3>
                                       Vaccine & Immunology Platforms:
                                    </h3>
                                    <p>
Vaccine development, immune response monitoring, and next-generation immunisation technologies for viral diseases.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" feature-block h-full">
                            <div class="feature-block-four h-full  wow  animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box h-full">
                                    <div class="shape" style="background-image: url(/assets/images/shape/shape-44.png);"></div>
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-12"></i></div>
                                    </div>
                                    <h3>
                                        Virus or viral products technologies:
                                    </h3>
                                    <p>
Applications using virus or viral products for diagnostics, delivery systems, and  advanced therapeutic applications such as oncolytic virotherapy and phage therapy. 
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class=" feature-block h-full">
                            <div class="feature-block-four h-full  wow  animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box h-full">
                                    <div class="shape" style="background-image: url(/assets/images/shape/shape-44.png);"></div>
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-19"></i></div>
                                    </div>
                                    <h3>
                                       Therapeutics Development:
                                    </h3>
                                    <p>
Startup solutions supporting discovery and translational therapeutic development.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" feature-block h-full">
                            <div class="feature-block-four h-full  wow  animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box h-full">
                                    <div class="shape" style="background-image: url(/assets/images/shape/shape-44.png);"></div>
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-13"></i></div>
                                    </div>
                                    <h3>
                                        Genomics & Bioinformatics based innovations:
                                    </h3>
                                    <p>
Data driven solutions for diagnostics, surveillance, drug discovery, public health decision-making and epidemic monitoring.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" feature-block h-full">
                            <div class="feature-block-four h-full  wow  animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box h-full">
                                    <div class="shape" style="background-image: url(/assets/images/shape/shape-44.png);"></div>
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-14"></i></div>
                                    </div>
                                    <h3>
                                        Phage based therapeutics against antimicrobial resistance:
                                    </h3>
                                    <p>
AMR assays, Phage cocktail development platforms. 
                                    </p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </section>

          
            <section class="faq-style-two pb-24" id="Highlights">
                <div class="pattern-layer">
                    <div class="pattern-1 rotate-me" style="background-image: url(/img/shape-37.png);"></div>
                    <div class="pattern-2" style="background-image: url(assets/images/shape/shape-38.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="sec-title  centred sec-title-animation animation-style2">
                        <h2 class="title-animation mb-20">Program Highlights</h2>
                    </div>
                    <section class="news-section">
                        <div class="">
                            <div class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-6 clearfix h-full">
                                <div class=" news-block group">
                                    <div class="news-block-one">
                                        <div class="inner-box ">
                                            <div >
                                                <h3 class="text-center text-xl md:text-2xl font-semibold">
                                                    Scientific mentorship from domain experts
                                                </h3>
                                            </div>
                                            <div class="overflow-hidden rounded-md">
                                                <figure class="  transition  duration-500 "><a><img src="/img/h1.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" news-block group">
                                    <div class="news-block-one">
                                        <div class="inner-box ">
                                            <div >
                                                <h3 class="text-center text-xl md:text-2xl font-semibold lg:pb-8">
                                                    Incubation support 
                                                </h3>
                                            </div>
                                            <div class="overflow-hidden rounded-md">
                                                <figure class=" transition  duration-500"><a><img src="/img/h2.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" news-block group">
                                    <div class="news-block-one">
                                        <div class="inner-box ">
                                            <div >
                                                <h3 class="text-center text-xl md:text-2xl font-semibold">
                                                    Access to state-of-the-art laboratory infrastructure
                                                </h3>
                                            </div>
                                            <div class="overflow-hidden rounded-md">
                                                <figure class=" transition  duration-500"><a><img src="/img/h3.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" news-block group">
                                    <div class="news-block-one">
                                        <div class="inner-box ">
                                            <div >
                                                <h3 class="text-center text-xl md:text-2xl font-semibold">
                                                   Prototype/MVP/Product development support

                                                </h3>
                                            </div>
                                            <div class="overflow-hidden rounded-md">
                                                <figure class=" transition  duration-500"><a><img src="/img/h4.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" news-block group">
                                    <div class="news-block-one">
                                        <div class="inner-box ">
                                            <div >
                                                <h3 class="text-center text-xl md:text-2xl font-semibold">
                                                   Opportunity to adopt and commercialize validated technologies from IAV

                                                </h3>
                                            </div>
                                            <div class="overflow-hidden rounded-md">
                                                <figure class=" transition  duration-500"><a><img src="/img/h7.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" news-block group">
                                    <div class="news-block-one">
                                        <div class="inner-box ">
                                            <div >
                                                <h3 class="text-center text-xl md:text-2xl font-semibold lg:pb-8">
                                                   Industry/institute partnership

                                                </h3>
                                            </div>
                                            <div class="overflow-hidden rounded-md">
                                                <figure class=" transition  duration-500"><a><img src="/img/h6.jpg" alt=""></a></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <!-- faq-style-two end -->



              <section class="feature-style-three pb_90">
                <div class="auto-container">
                    <div class="sec-title  centred sec-title-animation animation-style2">
                        <h2 class="title-animation mb-20">Potential Technologies ready to Transfer</h2>
                    </div>
                    <div class="grid sm:grid-cols-2 grid-cols-1 lg:grid-cols-4 gap-2 clearfix">
                        <div class=" feature-block">
                            <div class="feature-block-three wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                   <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-57"></i></div>
                                    </div>
                                    <h4 class="text-2xl">Antiviral Assays</h4>
                                </div>
                            </div>
                        </div>
                        <div class=" feature-block">
                            <div class="feature-block-three wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-22"></i></div>
                                    </div>
                                    <h4 class="text-2xl">Antibody testing</h4>
                                </div>
                            </div>
                        </div>
                        <div class=" feature-block">
                            <div class="feature-block-three wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-21"></i></div>
                                    </div>
                                    <h4>Recombinant Viral antigen production</h4>
                                </div>
                            </div>
                        </div>
                        <div class=" feature-block">
                            <div class="feature-block-three wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <div class="r-hex"><div class="r-hex-inner"></div></div>
                                        <div class="icon"><i class="icon-62"></i></div>
                                    </div>
                                    <h4>Pathogen detection kits</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <!-- main-content end -->


        <!-- main-footer -->
        <footer class="main-footer ">
            <div class="auto-container">
                <div class="footer-bottom">
                    <div class="bottom-inner">
                        <div class="copyright"><p>Copyright &copy; 2026 <a href="ihttps://startupmission.kerala.gov.in/" target="_blank">KSUM</a></p></div>
                        <ul class="social-links">
                            <li><h4>For enquiries, write to: rink@startupmission.in</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->



        <!--Scroll to top-->
        <div class="scroll-to-top">
            <svg class="scroll-top-inner" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        
    </div>


</Layout>


<script is:inline>
  document.querySelectorAll("a.page-scroll").forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      const href = anchor.getAttribute("href");
      const targetId = href.replace(/^\/?#/, "");
      const targetElement = document.getElementById(targetId);

      if (targetElement) {
        e.preventDefault();

        targetElement.scrollIntoView({ behavior: "smooth" });

        history.replaceState(null, null, window.location.pathname);
      }
    });
  });

  window.addEventListener("DOMContentLoaded", () => {
    const hash = window.location.hash;
    if (hash) {
      const targetId = hash.replace("#", "");
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        setTimeout(() => {
          targetElement.scrollIntoView({ behavior: "smooth" });
          history.replaceState(null, null, window.location.pathname);
        }, 100);
      }
    }
  });
</script>